#include <WinResRC.h> // Part of the PSDK


#define dlgID_LINK	37
#define IDC_STC1	400
#define IDC_STC_LINK	401

dlgID_LINK DIALOGEX 10,10,115,9
CAPTION "FASM64 FTW!"
FONT 14,"Arial Rounded MT Bold",400,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|WS_MAXIMIZEBOX|DS_SETFONT
EXSTYLE WS_EX_APPWINDOW|WS_EX_CONTEXTHELP|WS_EX_OVERLAPPEDWINDOW|WS_EX_TOPMOST
BEGIN
  CONTROL "Get it now:",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,0,0,36,9
  CONTROL "http://flatassembler.net/",IDC_STC_LINK,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_NOTIFY|SS_CENTERIMAGE|SS_RIGHT,36,0,75,9
END

1 RT_MANIFEST "obj\\rsrc.xml"