# disable end of line conversion on all files (act responsibly)
# don't collect stats on language
# 24 nasm highlight
# 120 unix assembly highlight
*        -text
*.inc    linguist-language=asm linguist-detectable=false
*.fasm   linguist-language=asm linguist-detectable=false
*.fasmg  linguist-language=120 linguist-detectable=false
*.g      linguist-language=asm linguist-detectable=false
