# disable end of line conversion on all files (act responsibly)
*        -text
# don't collect stats on language
# nasm highlight
*.inc    linguist-language=24 linguist-detectable=false
# unix assembly highlight
*.fasm   linguist-language=120 linguist-detectable=false
*.fasmg  linguist-language=nasm linguist-detectable=false
*.g      linguist-language=120 linguist-detectable=false
