# disable end of line conversion on all files (act responsibly)
*        -text
# use lua highlighter, but don't collect stats on language
*.inc    linguist-language=lua linguist-detectable=false
*.fasm   linguist-language=lua linguist-detectable=false
*.fasmg  linguist-language=lua linguist-detectable=false
*.g      linguist-language=lua-detectable=false
